<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{{ q2templates_default_page_title }}{% endblock %}</title>
    <link rel="stylesheet" href="./q2templateassets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./q2templateassets/css/normalize.css"/>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <a href="http://qiime2.org/">
            <img class="header" src="./q2templateassets/img/qiime2-rect-200.png"
            alt="QIIME 2">
          </a>
        </div>
      </div>
        {% block content %}
        {% endblock %}
    </div>
  </body>
</html>
